.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #50FA7B;
    padding: 8px;
}

a:hover {
    color: #dcfae3;
}
