.options {
    margin-top: 1.5rem;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.array-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Code sourced from W3Schools - How To Create a Range Slider
    Available at: https://www.w3schools.com/howto/howto_js_rangeslider.asp 
    Accessed on: [2023-10-12]
*/

.slider-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: #44475A;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px; 
    background: #FF79C6;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 5px; 
    background: #FF79C6;
    cursor: pointer;
}

/* 
    End of cited code.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.sorting-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 10px;
    padding: .25rem .5rem;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointers;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.primary-button {
    border: 1px solid #fca4d6;
    background-color: #FF79C6;
    color: #282A36;
    margin-left: .25rem;
    margin-right: .25rem;
}

.primary-button:hover {
    background-color: rgb(226, 90, 167);
}

.generate-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.sort-button {
    border: 1px solid #8bfda7;
    background-color: #50FA7B;
    padding: .25rem 5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.sort-button:hover {
    background-color: #03cf36;
}

h3 {
    color: #BD93F9;
    white-space: nowrap;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;

    /* overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%; */
}