.visualizer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 900px;
    width: 100%;
    height: 450px; 
    margin: auto;
    border: 2px solid #50FA7B;
}

.bar {
    width: 100%;
    margin-left: .25rem;
    margin-right: .25rem;
    background-color: #50FA7B;
    display: inline-block;
}

.i-highlight {
    background-color: #1ea841;
}

.j-highlight {
    background-color: #31c4c9;
}