.visualizer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 900px;
    width: 100%;
    height: 450px; 
    margin: auto;
    border: 2px solid #50FA7B;
}

.visualizer-container p {
    font-size: 3rem;
}

.bar {
    width: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
    background-color: #50FA7B;
    display: inline-block;
}

.i-highlight {
    background-color: #485786;
}

.j-highlight {
    background-color: #FF79C6 ;
}

.p-highlight {
    background-color: #FFB86C ;
}

@media (max-width: 1900px) {
    .visualizer-container {
        max-width: 700px;
        height: 300px;
    }
}

@media (max-width: 1300px) {
    .visualizer-container {
        max-width: 450px;
        height: 200px;
    }
}

